.allUserJumpsCard{
  margin-left: 25px !important;
  width: 25rem !important;
}

.allCards{
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
}

.card-img-top{
  width: 100% !important;
}
.card-body{
  text-align: center;
}



