@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Red+Hat+Display&display=swap');

body {
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  /* font-family: 'Open Sans Condensed', sans-serif; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



