@import url("https://use.typekit.net/wlf2zut.css");

.navHeader{
  background-image: url('/images/HSJHeader.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
  margin-top: 3px;
}


.navOneLiner h3{
  padding-top: 400px;
  text-align: center;
  font-family: relation-two, sans-serif;
  font-weight: 400;
  font-style: normal;
  color:white;
  font-size: 50px;
  margin-right: 30px;
}

.typewriter h3{
  color: #fff;
  font-family: relation-two, sans-serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #bbb; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 25% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  20% { border-color: transparent }
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin-bottom: 30px;
  margin-top: 50px;
  margin-left: 62px;
}

.flex-container > span {
  text-transform: uppercase;
  color: black;
  width: 20%;
  height: 125px;
  text-align: center;
  font-size: 20px;
  display: flex;
  margin-left: 12px;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 30px 1px;
  border: 2px solid rgb(235, 213, 23);
  /* background-image: url(/images/mapPin2.jpg); */
  background-color: transparent;
}

.carousel{
  /* margin-left: 300px; */
   width: 100vw !important;
  margin-bottom: 0px;
  /* margin-left: 1px !important; */
  margin-top: 1px !important;
  height: 1120px !important;
}

#test9 {
 margin-left: -1px !important;
}


.slider-wrapper{
  height: 1130px !important;
}

.description{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 60px;
}
.description h3{
  font-size: 6em;
}

.description p{
  width: 800px;
  font-size: 1.3em;
  line-height: 35px;
  letter-spacing: 1.1px;
}

.allj{
  color: green;
}

#getStarted{
  margin-top: 50px;
  text-align: center;
} 


footer {
  bottom: 0;
  width: 100%;
  background-color: #383838;
  color: rgb(212, 211, 211);
  height: 150px;
  padding: 0;
  margin: 0;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

#footer-info {
  margin-left: 20px;
}

#footer-info p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  width: 250px;
}

#footer-links {
  display: flex;
  flex-direction: column;
}

#footer-links a {
  text-decoration: none;
  color: rgb(223, 223, 213);
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  width: 250px;
  padding: 5px;
}

/* @media screen and (min-width: 1025px)  {
  .navOneLiner h3 {
    padding-top: 370px;
  }
} */
