@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');

body{
  margin: 0 auto;
}


nav img{
  margin-top: 5px;
  height: 70px;
}

ul{
  padding-right: 20px;
}

nav{
  background-image: url('/images/HSJHeader.jpeg');
  height: 80px !important;
}

.btn{
  margin-left: 12px;
}

.userHomePage{
  color: black;
}

nav ul{
  float: right !important;
}

.logOutBtn{
  border: 2px solid #4CAF50 !important;
  background-color: transparent !important;
  border-radius: 18px !important;
  color: #4CAF50 !important;
}

@media only screen and (max-width: 300px){
  nav{
    width: 785px !important;
  }
  nav ul{
      float: right !important;
  }

}

@media only screen and (max-width: 400px){
  nav{
    width: 655px !important;
  }
  nav ul{
      float: right !important;
  }

}

@media only screen and (max-width: 500px){
  nav{
    width: 561px !important;
  }
  nav ul{
      float: right !important;
  }

  nav .brand-logo.center {
    left: 15% !important;
  }
}

@media only screen and (max-width: 700px){
  nav{
    width: 805px !important;
  }
}

@media only screen and (max-width: 1000px){
  nav{
    width: 1025px  !important;
  }
}